# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
node_modules
dist
dist-electron
release
*.json
!package.json
!tsconfig*.json
downloads.json

# yt-dlp related
*.ytdl
*.part
*.temp

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
